GitLab project: {{ .Project.Name }}
{{- if .Repository }}
{{- if .Repository.Description }}
Description: {{ .Repository.Description }}
{{- end }}
{{- if .Project.Namespace }}
Parent Namespace: {{ .Project.Namespace }}
{{- end }}
URL: {{ .Repository.GitHTTPURL }}
{{- end }}
Ref: {{.Ref}}
SHA: {{.CheckoutSHA}}
Before: {{ .Before }}
After: {{ .After }}

Commit information:
{{- range .Commits }}
Link: {{.URL}}
Message: {{.Message}}
Author: {{.Author.Name}}
Author email: {{ .Author.Email }}
{{end}}

